html {
    font-size: 18px;
}

body {
    margin: 0;
    background-color: #eee;
    font-family: "Spartan";
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    font-family: "Spartan";
    background-color: #182823;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    box-shadow: 0 -10px 30px 10px #000;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1 0 auto; 
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1.8rem max(calc(40vw - 450px), 15px);
    border-bottom: 1px solid #000;
}

section .actions {
    display: flex;
    width: 100%;
    flex-direction: row;
}

section .actions .withdraw {
    display: flex;
    justify-content: flex-start;
}

section .actions .proceed {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
}

section.hero {
    min-height: min(60vw, 70vh);
    background-color: #adbcbc;
    background-image: url("/mangrove-roots.jpg");
    background-blend-mode: luminosity;
    background-position: center bottom;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
}

section.hero aside {
    background-color: #405451bf;
    border-radius: 1rem;
    padding: 2rem;
    color: #fff;
    line-height: 2.5rem;
    border: none;
    font-size: 1.8rem;
    font-weight: 700; 
}

section.heading {
    padding-top: 1.5rem;
    background-color: #dae0e4;
}

section.toolbar {
    background-color: #e8e9e9;
}

section.conversation {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #1a2d34;
    background-color: rgb(24, 40, 35);
    background-image: url("/full-bloom.png");
    background-blend-mode: color-burn;
    flex: 1 0 auto;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

section.conversation .user {
    color: #ccc;
}
section.conversation .message {
    align-self: flex-start;
    word-wrap: break-word;
    max-width: 100%;
    color: #fff;
    background-color: #4f5257b8;
    padding: 1rem;
    border-radius: 0.2rem;
}
section.conversation .system-message {
    align-self: flex-start;
    color: #999;
}

section.composeMessage {
    background-color: #888;
    display: "flex";
    flex-direction: row;
    align-items: center;
}

section.composeMessage textarea {
}

section aside {
    font-size: 1.2rem;
}

section .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

section .details div aside {
    padding-block: 0.5rem;
}

@media only screen and (min-width: 600px) {
    section .details {
        flex-direction: row-reverse;
        align-items: flex-start;
    }
}

footer {
    padding: 15px;
    background-color: #ddd;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 15px;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}

p {
    padding-block: 0.5rem;
    line-height: 1.4rem;
}

button {
    font-weight: 700;
}

ul.item-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 15rem));
    grid-auto-rows: 5rem;
    grid-auto-flow: row;
    gap: 1rem;
}

ul.item-grid li {
    padding: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px -4px #000000bb;
}

